<span id="toggleButton" class="btn btn-default glyphicon glyphicon-chevron-right"
ng-click="ToggleExtension()" toggle-button="state">
</span>
<div id="extension" toggle-extension="state">
  <header>
    <div class="row">
      <div class="col-xs-2">
        <a href="http://jrod.in/workbench-enhancer/" target="_blank">
          <span class="glyphicon glyphicon-question-sign"></span>
        </a>
      </div>
      <div class="col-xs-8" style="margin-top:-3.5%; margin-left:0%;">
        <h4>Workbench Enhancer</h4>
      </div>
    </div>
  </header>
  <div class="row">
    <div class="col-xs-12">
      <div ng-if="(storageData | isEmpty)">
        <div class="row">
          <div class="col-xs-12">
            <span class="text-center text-info" style="font-size:18px;">No queries found!</span>
          </div>
        </div>
      </div>
      <div ng-if="!(storageData | isEmpty)">
        <div class="row" style="margin-top:1%; margin-bottom:5%;">
          <div class="col-xs-offset-1 col-xs-10 input-group" style="margin-top:2%;">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-search"></i>
            </span>
            <input type="text" class="form-control" ng-model="searchQuery"/>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <uib-accordion close-others="false">
              <uib-accordion-group ng-repeat="date in sortedDates" ng-init="accordionArray[$index] = true"
              is-open="accordionArray[$index]"
              ng-class="(storageData[date] | filter: searchQuery).length > 0 ? '' : 'hidden-panel-heading'">
              <uib-accordion-heading ng-click="accordionArray[$index]= !accordionArray[$index]">
                <div>
                  <span class="glyphicon pull-left"
                  ng-class="accordionArray[$index] ? 'glyphicon-chevron-down':'glyphicon-chevron-right'"></span>
                  <span style="font-size:18px">{{date}}</span>
                </div>
              </uib-accordion-heading>
              <div ng-repeat ="info in storageData[date] | filter: searchQuery track by $index">
                <div id="queryEntry" class="row" style="padding-bottom:2%;margin-bottom:0px;">
                  <span class="col-xs-1" style="margin-left: -2%;"><b>{{info[0] * 1000 | date:'HH:mm'}}</b></span>
                  <!-- multiplying timestamp by 1000 to convert into milliseconds and get correct date -->
                  <span class="col-xs-9 query" ng-click="SetQueryText(info[1])">
                    <span dd-text-collapse dd-text-collapse-max-length="50" dd-text-collapse-text="{{info[1]}}">
                    </span>
                  </span>
                  <span class="col-xs-1" style="padding-left: 8%">
                    <span class="glyphicon glyphicon-trash" ng-click="DeleteQuery(date,info)" style="cursor:pointer;"></span>
                  </span>
                </div>
              </div>
            </uib-accordion-group>
          </uib-accordion>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
