<div id="extension">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div ng-repeat="(date,queriesArray) in allData track by date">

        <div class="panel-heading">
          <h5 class="text-left">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{$index}}">{{date}}</a>
          </h5>
        </div>
        
        <div id="collapse{{$index}}" class="panel collapse">
          <div ng-repeat ="query in queriesArray">
            <div class="panel-body text-left">
              {{query}}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
