<div class="row">
  <div id="extension" class="col-xs-12">

    <div ng-if="allData | isEmpty">
      <div class="row">
        <div class="col-xs-12">
          <span class="text-center text-info" style="font-size:18px;">No queries found!</span>
        </div>
      </div>
    </div>

    <div ng-if="!(allData | isEmpty)">
      <div class="row">
        <div class="col-xs-12">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div ng-repeat="(date,queriesArray) in allData track by date">
                <h5>
                  <div class="panel-heading text-left" data-toggle="collapse" data-parent="#accordion"
                       data-target="#collapse{{$index}}">
                    <a style="font-size:18px;">{{date}}</a>
                  </div>
                </h5>
                <div id="collapse{{$index}}" class="panel collapse">
                  <div ng-repeat ="query in queriesArray | filter: searchQuery track by $index">
                    <div class="panel-body text-left" ng-click="setQueryText($event)" style="cursor:pointer;">
                      {{query}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
