#extension{
  left: -23%;
  width: 23%;
  height: 100%;
  border: 1px solid black;
  border-left: none;
  border-top: none;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 0.3s left;
}
#extension .panel-heading{
  /*background-color: #c4c4c4;*/
  background-color: #d6d0d0;
  cursor: pointer;
}
#extension .panel{
  border: none;
}
#extension .panel-body{
  padding-bottom: 0px;
}
.accordion-toggle:focus{
  outline: none;
}
#extension .row{
  padding-bottom: 5%;
}
#extension .collapse-text-toggle {
    font-size: 0.9em;
    color: #0000e6;
    cursor: pointer;
}
#extension .collapse-text-toggle:hover {
    text-decoration: underline;
}
#extension .no-selection{
  user-select: none;
  -webkit-user-select: none;
}
#extension .query{
  text-align:left;
  padding-left:14%;
  cursor:pointer;
  word-wrap: break-word;
  top: -2px;
}
#toggleButton{
  position: fixed;
  z-index: 1;
  transition: 0.3s left;
}

span.ng-scope{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 14px;
}

/* Text editor's CSS settings */
.ace_editor, .ace_editor *{
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas", monospace !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
}
