#extension{
  left: -19%;
  width: 19%;
  height: 100%;
  border: 1px solid black;
  border-left: none;
  position: absolute;
  overflow-x: auto;
  overflow-y: auto;
  transition: 0.3s left;
}
.panel-heading{
  /*background-color: #c4c4c4;*/
  background-color: #d6d0d0;
  cursor: pointer;
}
.panel{
  border: none;
}
.accordion-toggle:focus{
  outline: none;
}
.row{
  padding-bottom: 5%;
}
.collapse-text-toggle {
    font-size: 0.9em;
    color: #0000e6;
    cursor: pointer;
}
.collapse-text-toggle:hover {
    text-decoration: underline;
}
.no-selection{
  user-select: none;
  -webkit-user-select: none;
}
.query{
  text-align:left;
  padding-left:14%;
  cursor:pointer;
  word-wrap: break-word;
}
#toggleButton{
  position: absolute;
  z-index: 1;
  transition: 0.3s left;
}
