#extension{
  left:0;
  width: 240px;
  height: auto;
  border: 1px solid black;
  border-left: none;
  position: absolute;
}
.panel-heading{
  background-color: #f5f5f5;
  cursor: pointer;
}

.panel{
  border: none;
}
